@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$roboto: "Roboto Slab", serif;
$noto: "Noto Serif", serif;
$lato: "Lato", sans-serif;
$poppins: "Poppins", sans-serif;
$vietnam: "Be Vietnam Pro", sans-serif;

$color: (
  "light-cyan": #34a0a4,
  "dark-cyan": #0b787c,
  "light-gray": #eef1f3,
  "dark-gray": #595959,
  "cream": #f8f4f0,
  "black": #000,
  "white": #fff,
  "orange": #ef8451,
  "light-black": #070f2b,
  "light-cream": #eeeeee,
  "edit": #608bc1,
  "dark-cream": #f3eee9,
);

$padding-horizontal-main: 3.4vw;
$padding-vertical-main: 2.4vw;
$media-padding-horizontal-main: 4.4vw;
$media-padding-vertical-main: 3.8vw;

$width-sidebar: 18vw;
$height-topbar: 11vh;
$px-layout: 1.9vw;
$py-content: 2.1vw;
